body {
  background-color: #f6f6f6 !important;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* for background of input field */
.MuiOutlinedInput-input {
  background-color: white !important;
}
/* for the lable of input field */
.Mui-focused {
  background-color: #e9e9e9 !important;
  color: #6e6e6e !important;
}
/* for the padding of lable of input field */
.MuiFormLabel-root {
  padding: 3px !important;
}
/* for the sterik in lable */
/* .MuiFormLabel-root::after {
  content: "*";
  color: red;
} */
/* for changing the background of select box */
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  background-color: white !important;
}

.MuiInputLabel-shrink {
  background-color: #e9e9e9 !important;
  color: #6e6e6e !important;
}

/* to make disbale input box different */
.MuiInputBase-input.Mui-disabled {
  background-color: #f3f3f3 !important;
  font-size: 0.9rem !important;
  color: black !important;
}

.MuiOutlinedInput-multiline {
  padding: 5px !important;
  /* padding-top: 10px !important; */
}
/* styling for required asteric */
span.MuiFormLabel-asterisk.MuiInputLabel-asterisk {
  color: red !important;
}
.mainContainer {
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  min-height: 85vh;
  margin-top: 60px;
}
.crosstick{
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.MuiOutlinedInput-inputMultiline {
  padding: 8px;
}

.notify .MuiSvgIcon-fontSizeLarge {
  font-size: 30px !important;
}

h3.ant-typography, .ant-typography h3 {
  margin-bottom: 0 !important;
}